body{
	background-color: #eee;
}

.frame{
	max-width: 620px;
	margin: 0px auto;
	padding: 0px 10px;
	background-color: #fff;
}

img.tweet_pic {
	padding: 10px;
	float: left;
	border: 1px solid #ddd;
	background-color: #fff;
	margin: 0px 10px 10px 0px;
}